.app-container {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main-content {
  flex: 1;
  background: #f8f9fa;
  /* Fondo gris claro profesional */
  padding: 1rem;
  overflow-y: auto;
}