<div class="sidebar" [class.closed]="isClosed">
  <div class="close-btn" (click)="toggleSidebar()">
    {{ isClosed ? '☰' : '✖' }}
  </div>

  <div class="logo-section" *ngIf="!isClosed">
    <img class="logo "src="assets/img/logo_01.png">
    <h2>Sistema de Gestion de Incidentes</h2>
  </div>

  <div class="user-info" *ngIf="!isClosed">
    <p>Bienvenido, <strong>{{ authService.obtenerDatosUsuario?.nombre || 'Invitado' }}</strong></p>
    <select class="rol-select" disabled>
      <option>{{ authService.obtenerDatosUsuario?.rol || 'Sin Rol' }}</option>
    </select>
  </div>

  <nav class="menu">

  <!-- ADMIN -->
  <ng-container *ngIf="authService.tieneRol('admin')">
    <a routerLinkActive="active" class="menu-item" (click)="onMenuClick('dashboard')">
      <i class="fas fa-home"></i>
      <span *ngIf="!isClosed">Dashboard</span>
    </a>

    <a routerLinkActive="active" class="menu-item" (click)="onMenuClick('tickets')">
      <i class="fas fa-ticket-alt"></i>
      <span *ngIf="!isClosed">Tickets</span>
    </a>

    <a routerLinkActive="active" class="menu-item" (click)="onMenuClick('usuarios')">
      <i class="fas fa-users"></i>
      <span *ngIf="!isClosed">Usuarios</span>
    </a>
  </ng-container>

  <!-- TECNICO -->
  <ng-container *ngIf="authService.tieneRol('tecnico')">
    <a routerLinkActive="active" class="menu-item" (click)="onMenuClick('dashboard')">
      <i class="fas fa-home"></i>
      <span *ngIf="!isClosed">Dashboard</span>
    </a>

    <a routerLinkActive="active" class="menu-item" (click)="onMenuClick('tickets')">
      <i class="fas fa-ticket-alt"></i>
      <span *ngIf="!isClosed">Tickets</span>
    </a>
  </ng-container>

  <!-- USUARIO -->
  <ng-container *ngIf="authService.tieneRol('usuario')">
    <a routerLinkActive="active" class="menu-item" (click)="onMenuClick('dashboard')">
      <i class="fas fa-home"></i>
      <span *ngIf="!isClosed">Dashboard</span>
    </a>

    <a routerLinkActive="active" class="menu-item" (click)="onMenuClick('tickets')">
      <i class="fas fa-ticket-alt"></i>
      <span *ngIf="!isClosed">Tickets</span>
    </a>
  </ng-container>
    <button *ngIf="!isClosed" class="btn-sesion" type="submit" (click)="logout()">Cerrar Sesion</button>

</nav>
</div>
