/* You can add global styles to this file, and also import other style files */
.mat-dialog-container {
    max-height: none !important;
    height: auto !important;
    overflow: visible !important;
    padding: 1.5rem !important;
}
* {
  font-family: 'Poppins', Arial, sans-serif;
}