<div class="chatbot-boton" (click)="toggleChatbot()">
  💬
</div>

<div class="chatbot-window" *ngIf="abierto">
  <div class="chat-header">
     Asistente Soporte T
    <button (click)="toggleChatbot()">✖</button>
  </div>

  <div class="chat-body">
    <div *ngFor="let msg of mensajes" 
        [class.user]="msg.emisor === 'user'" 
        [class.bot]="msg.emisor === 'bot'">
      <div [innerHTML]="msg.texto | formatoHTML"></div>
    </div>


    <div class="loader" *ngIf="loading">Escribiendo...</div>
  </div>

  <div class="chat-input">
    <input [(ngModel)]="mensaje" placeholder="Escribe tu duda..." (keyup.enter)="enviarMensaje()">
    <button (click)="enviarMensaje()">➤</button>
  </div>
  <button *ngIf="mostrarBotonTicket" class="btn-ticket" (click)="abrirTicket()">
  📩 Abrir Ticket de Soporte
</button>

</div>
