<!-- MODAL GENERAR REPORTE -->
<div class="modal-overlay" *ngIf="isOpen">
  <div class="modal">

    <h3>Generar Reporte de Tickets</h3>

    <!-- PESTAÑAS -->
    <div class="tabs">
      <button 
        [class.active]="tabActivaIndex === 0"
        (click)="tabActivaIndex = 0">
        📄 PDF
      </button>

      <button 
        [class.active]="tabActivaIndex === 1"
        (click)="tabActivaIndex = 1">
        📊 Excel
      </button>
    </div>

    <!-- TAB PDF -->
    <div *ngIf="tabActivaIndex === 0" class="tab-content">
      <!-- <label>Fecha inicial:</label>
      <input 
        type="date"
        [(ngModel)]="filtros.fechaInicio"
      />

      <label>Fecha final:</label>
      <input 
        type="date"
        [(ngModel)]="filtros.fechaFin"
      />
      -->
      <label>Oficina (opcional):</label>
      <select [(ngModel)]="oficinaSeleccionada">
        <option value="">Todas las oficinas</option>
        <option *ngFor="let o of oficinas" [value]="o.nombreOficina">
          {{ o.nombreOficina }}
        </option>
      </select>
    </div>

    <!-- TAB EXCEL -->
    <div *ngIf="tabActivaIndex === 1" class="tab-content">
      <!--<label>Fecha inicial:</label>
      <input 
        type="date"
        [(ngModel)]="filtros.fechaInicio"
      />

      <label>Fecha final:</label>
      <input 
        type="date"
        [(ngModel)]="filtros.fechaFin"
      />
      -->
      <label>Oficina (opcional):</label>
      <select [(ngModel)]="oficinaSeleccionada">
        <option value="">Todas las oficinas</option>
        <option *ngFor="let o of oficinas" [value]="o.nombreOficina">
          {{ o.nombreOficina }}
        </option>
      </select>
    </div>

    <!-- BOTONES -->
    <div class="modal-buttons">
      <button class="btn-confirm"
              *ngIf="tabActivaIndex === 0"
              (click)="generarPdf()">
        📄 Descargar PDF
      </button>

      <button class="btn-confirm"
              *ngIf="tabActivaIndex === 1"
              (click)="generarExcel()">
        📊 Descargar Excel
      </button>

      <button class="btn-cancelar" (click)="cerrar()">
        ❌ Cancelar
      </button>
    </div>

  </div> <!-- modal -->
</div> <!-- modal-overlay -->
